header {
    color: yellow;
    background-color: black;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
}
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px; 
}
.logbuttons {
    display: flex;
    align-items: center; 
}

.logbuttons a {
    margin-left: 10px;
}

section {
    padding: 20px;
}

