/* universal styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: gray;
}

/* login signup styles */

.logo-container {
    display: flex;
    align-items: center;
}

.logo-link {
    margin: 5px; 
    margin-top: 5px; 
}

.logo-img {
    width: 75px; 
    height: 75px; 
}

.logo-text {
    font-size: 32px;
    padding-left: 10px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000; 
}

.form-container {
    width: 60%; 
    margin: 50px;
}

fieldset {
    width: 100%; 
    border: none;
}

legend {
    color: black;
    font-size: 32px; 
    font-weight: bold; 
}

.button {
    background: black;
    color: #e0ad12;
    transition-duration: 0.5s;
    padding: 15px 32px;
    text-align: center;
    margin: auto;
    border-radius: 8px;
}

.button:hover {
    background-color: #e0ad12;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #e0ad12;
    border-radius: 8px;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #e0ad12;
}

.link {
    color: black;
    transition-duration: 0.5s;
}

.link:hover {
    background-color: #e0ad12;
    color: black;
}

/* styles for profile/chart/home */

.header {
    margin-left: 10%;
    margin-top: 45px;
}

.side-nav {
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: gray;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;
}

ul {
    list-style: none;
    padding: 0 15px;
}

ul li {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

ul li img {
    width: 30px;
    margin-right: 0px;
}

ul li p {
    white-space: nowrap;
    display: none;
}

.side-nav:hover {
    width: 250px;
}

.side-nav:hover ul li p {
    display: block;
}

.side-nav:hover ul li img {
    margin-right: 10px;
}

.side-nav:hover ul li {
    justify-content: flex-start;
}

/* style for login signup button profile/chart/home */
.signup-login {
    position: absolute;
    top: 20px;
    right: 20px;
}

.signup-login button {
    padding: 10px 20px;
    background-color: whitesmoke;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
